<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/myblog.css">
    <title>分类</title>
</head>
<body>
    <nav class="ui inverted attached segment m-shadowed-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui header teal item secondary m-padded-tb-mini">Blog</h2>
                <a href="" class="menu-item item m-mobile-hidden"><i class="small home icon"></i> 首页</a>
                <a href="" class="menu-item item m-mobile-hidden"><i class="small idea icon"></i> 分类</a>
                <a href="" class="menu-item item m-mobile-hidden"><i class="small tags icon"></i> 标签</a>
                <a href="" class="menu-item item m-mobile-hidden"><i class="small clone icon"></i> 归档</a>
                <a href="" class="menu-item item m-mobile-hidden"><i class="small info icon"></i> 关于我</a>


                <div class="right item m-mobile-hidden">
                    <div class="ui icon input ">
                        <input type="text" placeholder="Search..."/>
                        <i class="search link icon "></i>
                    </div>
                </div>

            </div>
        </div>

        <!--菜单下拉图标-->
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <!--正文部分-->
    <div class="m-container-small m-padded-tb-big">

        <div class="ui container">

            <div class="ui top attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui teal header">分类</h3>
                    </div>
                    <div class="right aligned column">
                        共 <h2 class="ui orange header m-inline-block m-text-thin"> 14 </h2> 个
                    </div>
                </div>
            </div>
            <!--分类标签列表-->
            <div class="ui attached segment">

                <div class="ui labeled button m-margin-tb-tiny">
                    <a href="" class="ui basic teal button">Java项目实战</a>
                    <div class="ui basic teal left pointing label">10</div>
                </div>

                <div class="ui labeled button m-margin-tb-tiny">
                    <a href="" class="ui basic button">Java基础原理</a>
                    <div class="ui basic left pointing label">10</div>
                </div>

                <div class="ui labeled button m-margin-tb-tiny">
                    <a href="" class="ui basic button">数据结构与算法</a>
                    <div class="ui basic left pointing label">10</div>
                </div>

                <div class="ui labeled button m-margin-tb-tiny">
                    <a href="" class="ui basic button">计算机基础原理</a>
                    <div class="ui basic left pointing label">10</div>
                </div>

                <div class="ui labeled button m-margin-tb-tiny">
                    <a href="" class="ui basic button">无线信号传播特性研究</a>
                    <div class="ui basic left pointing label">10</div>
                </div>

                <div class="ui labeled button m-margin-tb-tiny">
                    <a href="" class="ui basic button">随想随笔</a>
                    <div class="ui basic left pointing label">10</div>
                </div>

            </div>
            <!--博客列表-->

            <div class="ui top attached padded teal segment m-mobile-lr-padded-clear">
                <div class="ui padded vertical segment m-mobile-lr-padded-clear m-padded-tb-big ">
                    <div class="ui grid mobile reversed stackable">
                        <div class="ui ten wide column">
                            <h3 class="ui header">你真的理解什么是财富自由吗?</h3>
                            <p class="m-text-thin m-text-spaced m-text-lined">正确做好任何一件事情的前提是...</p>
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="ui item">
                                            <img src="../static/images/gaspar-zaldo.jpg" alt="" class="ui avatar image avatar-size">
                                            <div class="content"><a href="" class="header">Heinriciro</a></div>
                                        </div>

                                        <div class="ui item">
                                            <i class="calendar icon"></i> 2021-07-04
                                        </div>

                                        <div class="ui item">
                                            <i class="eye icon"></i>2323
                                        </div>
                                    </div>
                                </div>
                                <div class="ui center aligned five wide column">
                                    <a href="" target="_blank"  class="ui teal basic label m-padded-tb-mini m-text-thin">认知升级</a>
                                </div>
                            </div>
                        </div>

                        <div class="ui six wide column">
                            <a href="" target="_blank">
                                <img src="../static/images/nick-page.jpg" alt="" class="ui rounded centered image" >
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="ui attached padded teal segment m-mobile-lr-padded-clear">
                <div class="ui padded vertical segment m-mobile-lr-padded-clear m-padded-tb-big ">
                    <div class="ui grid mobile reversed stackable">
                        <div class="ui ten wide column">
                            <h3 class="ui header">你真的理解什么是财富自由吗?</h3>
                            <p class="m-text-thin m-text-spaced m-text-lined">正确做好任何一件事情的前提是...</p>
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="ui item">
                                            <img src="../static/images/gaspar-zaldo.jpg" alt="" class="ui avatar image avatar-size">
                                            <div class="content"><a href="" class="header">Heinriciro</a></div>
                                        </div>

                                        <div class="ui item">
                                            <i class="calendar icon"></i> 2021-07-04
                                        </div>

                                        <div class="ui item">
                                            <i class="eye icon"></i>2323
                                        </div>
                                    </div>
                                </div>
                                <div class="ui center aligned five wide column">
                                    <a href="" target="_blank"  class="ui teal basic label m-padded-tb-mini m-text-thin">认知升级</a>
                                </div>
                            </div>
                        </div>

                        <div class="ui six wide column">
                            <a href="" target="_blank">
                                <img src="../static/images/nick-page.jpg" alt="" class="ui rounded centered image" >
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="ui attached padded teal segment m-mobile-lr-padded-clear">
                <div class="ui padded vertical segment m-mobile-lr-padded-clear m-padded-tb-big ">
                    <div class="ui grid mobile reversed stackable">
                        <div class="ui ten wide column">
                            <h3 class="ui header">你真的理解什么是财富自由吗?</h3>
                            <p class="m-text-thin m-text-spaced m-text-lined">正确做好任何一件事情的前提是...</p>
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="ui item">
                                            <img src="../static/images/gaspar-zaldo.jpg" alt="" class="ui avatar image avatar-size">
                                            <div class="content"><a href="" class="header">Heinriciro</a></div>
                                        </div>

                                        <div class="ui item">
                                            <i class="calendar icon"></i> 2021-07-04
                                        </div>

                                        <div class="ui item">
                                            <i class="eye icon"></i>2323
                                        </div>
                                    </div>
                                </div>
                                <div class="ui center aligned five wide column">
                                    <a href="" target="_blank"  class="ui teal basic label m-padded-tb-mini m-text-thin">认知升级</a>
                                </div>
                            </div>
                        </div>

                        <div class="ui six wide column">
                            <a href="" target="_blank">
                                <img src="../static/images/nick-page.jpg" alt="" class="ui rounded centered image" >
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="ui attached padded teal segment m-mobile-lr-padded-clear">
                <div class="ui padded vertical segment m-mobile-lr-padded-clear m-padded-tb-big ">
                    <div class="ui grid mobile reversed stackable">
                        <div class="ui ten wide column">
                            <h3 class="ui header">你真的理解什么是财富自由吗?</h3>
                            <p class="m-text-thin m-text-spaced m-text-lined">正确做好任何一件事情的前提是...</p>
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="ui item">
                                            <img src="../static/images/gaspar-zaldo.jpg" alt="" class="ui avatar image avatar-size">
                                            <div class="content"><a href="" class="header">Heinriciro</a></div>
                                        </div>

                                        <div class="ui item">
                                            <i class="calendar icon"></i> 2021-07-04
                                        </div>

                                        <div class="ui item">
                                            <i class="eye icon"></i>2323
                                        </div>
                                    </div>
                                </div>
                                <div class="ui center aligned five wide column">
                                    <a href="" target="_blank"  class="ui teal basic label m-padded-tb-mini m-text-thin">认知升级</a>
                                </div>
                            </div>
                        </div>

                        <div class="ui six wide column">
                            <a href="" target="_blank">
                                <img src="../static/images/nick-page.jpg" alt="" class="ui rounded centered image" >
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <!--底部翻页-->
            <div class="ui bottom attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="aligned column">
                        <a href="" class="ui mini teal basic button">上一页</a>
                    </div>

                    <div class="right aligned column">
                        <a href="" class="ui mini teal basic button">下一页</a>
                    </div>

                </div>
            </div>

        </div>
    </div>



    <!--页面页脚部分-->
    <footer class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided grid stackable">
                <div class="ui three wide column">
                    <img src="../static/images/qrcode.jpg" class="ui rounded image qrcode centered" alt="">
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header  m-text-spaced ">最新博客</h4>
                    <div class="ui inverted link list m-text-thin">
                        <a href="" class="item">用户故事</a>
                        <a href="" class="item">java学习</a>
                        <a href="" class="item">研究领域</a>
                    </div>
                </div>
                <div class="four wide column">
                    <h4 class="ui inverted header  m-text-spaced ">联系我</h4>
                    <div class="ui inverted link list m-text-thin">
                        <a href="" class="item">微博</a>
                        <a href="" class="item">email:ianhuang15@outlook.com</a>
                        <a href="" class="item">QQ:540856517</a>
                    </div>
                </div>
                <div class="six wide column">
                    <h4 class="ui inverted header m-text-spaced ">主页介绍</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">这是Heinriciro的第一个个人主页，为了练习Java开发技巧，使用Semantic-UI制作而成。最终版将会分享学习过程中的笔记经验以及随想。</p>
                </div>
            </div>
            <div class="ui inverted divider section "></div>
            <p class="m-opacity m-text-thin m-text-spaced">Copyright©2020 Designed By Heinriciro</p>
        </div>


    </footer>




<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="../static/semantic/dist/semantic.min.js"></script>

<script>
    $('.menu.toggle').on('click',function () {
       $('.menu-item').toggleClass('m-mobile-hidden');
    });

    $('#payBtn').popup({
        popup : $('.payPopup.popup'),
        on : 'click',
        position: 'bottom center'
    });
</script>


</body>
</html>