<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/myblog.css">
    <title>归档</title>
</head>
<body>
    <nav th:replace="_fragments :: menu(4)" class="ui inverted attached segment m-shadowed-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui header teal item secondary m-padded-tb-mini">Blog</h2>
                <a href="" class="menu-item item m-mobile-hidden"><i class="small home icon"></i> 首页</a>
                <a href="" class="menu-item item m-mobile-hidden"><i class="small idea icon"></i> 分类</a>
                <a href="" class="menu-item item m-mobile-hidden"><i class="small tags icon"></i> 标签</a>
                <a href="" class="menu-item  active m-mobile-hidden"><i class="small clone icon"></i> 归档</a>
                <a href="" class="menu-item item m-mobile-hidden"><i class="small info icon"></i> 关于我</a>


                <div class="right item m-mobile-hidden">
                    <div class="ui icon input ">
                        <input type="text" placeholder="Search..."/>
                        <i class="search link icon "></i>
                    </div>
                </div>

            </div>
        </div>

        <!--菜单下拉图标-->
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <!--正文部分-->
    <div class="m-container-small m-padded-tb-big">

        <div class="ui container">

            <div class="ui top attached m-padded-tb-big segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui teal header">归档</h3>
                    </div>
                    <div class="right aligned column">
                        共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${blogCount}"> 114 </h2> 个
                    </div>
                </div>
            </div>

            <th:block th:each="item : ${archiveMap}">
                <h3 class="ui center aligned header" th:text="${item.key}">2020</h3>
                <div class="ui attached vertical fluid  menu">
                    <a th:href="@{/blog/{id}(id=${blog.id})}" href="#" target="_blank" class="ui item" th:each="blog : ${item.value}">
                    <span>
                        <i class="mini teal circle icon"></i>
                        <span th:text="${blog.title}"></span>blablabla
                        <div th:text="${#dates.format(blog.updateTime,'MMMdd')}" class="ui basic teal left pointing label mini">09.03</div>
                    </span>

                        <div class="ui basic orange middle label" th:text="${blog.flag}">原创</div>

                    </a>
                </div>
                <!--/*-->
                <div class="ui attached vertical fluid  menu">
                    <a href="" target="_blank" class="ui item">
                    <span>
                        <i class="mini teal circle icon"></i>
                          blablabla
                        <div class="ui basic teal left pointing label mini">09.03</div>
                    </span>

                        <div class="ui basic orange middle label">原创</div>

                    </a>
                </div>
                <div class="ui attached vertical fluid  menu">
                    <a href="" target="_blank" class="ui item">
                    <span>
                        <i class="mini teal circle icon"></i>
                          blablabla
                        <div class="ui basic teal left pointing label mini">09.03</div>
                    </span>

                        <div class="ui basic orange middle label">原创</div>

                    </a>
                </div>
                <div class="ui bottom attached vertical fluid  menu">
                    <a href="" target="_blank" class="ui item">
                    <span>
                        <i class="mini teal circle icon"></i>
                          blablabla
                        <div class="ui basic teal left pointing label mini">09.03</div>
                    </span>

                        <div class="ui basic orange middle label">原创</div>

                    </a>
                </div>
                <!--*/-->
            </th:block>

<!--/*-->
            <h3 class="ui center aligned header">2019</h3>
            <div class="ui top attached vertical fluid  menu">
                <a href="" target="_blank" class="ui item">
                    <span>
                        <i class="mini teal circle icon"></i>
                          blablabla
                        <div class="ui basic teal left pointing label mini">09.03</div>
                    </span>

                    <div class="ui basic orange middle label">原创</div>

                </a>
            </div>
            <div class="ui attached vertical fluid  menu">
                <a href="" target="_blank" class="ui item">
                    <span>
                        <i class="mini teal circle icon"></i>
                          blablabla
                        <div class="ui basic teal left pointing label mini">09.03</div>
                    </span>

                    <div class="ui basic orange middle label">原创</div>

                </a>
            </div>
            <div class="ui attached vertical fluid  menu">
                <a href="" target="_blank" class="ui item">
                    <span>
                        <i class="mini teal circle icon"></i>
                          blablabla
                        <div class="ui basic teal left pointing label mini">09.03</div>
                    </span>

                    <div class="ui basic orange middle label">原创</div>

                </a>
            </div>
            <div class="ui bottom attached vertical fluid  menu">
                <a href="" target="_blank" class="ui item">
                    <span>
                        <i class="mini teal circle icon"></i>
                          blablabla
                        <div class="ui basic teal left pointing label mini">09.03</div>
                    </span>

                    <div class="ui basic orange middle label">原创</div>

                </a>
            </div>

            <h3 class="ui center aligned header">2018</h3>
            <div class="ui top attached vertical fluid  menu">
                <a href="" target="_blank" class="ui item">
                    <span>
                        <i class="mini teal circle icon"></i>
                          blablabla
                        <div class="ui basic teal left pointing label mini">09.03</div>
                    </span>

                    <div class="ui basic orange middle label">原创</div>

                </a>
            </div>
            <div class="ui attached vertical fluid  menu">
                <a href="" target="_blank" class="ui item">
                    <span>
                        <i class="mini teal circle icon"></i>
                          blablabla
                        <div class="ui basic teal left pointing label mini">09.03</div>
                    </span>

                    <div class="ui basic orange middle label">原创</div>

                </a>
            </div>
            <div class="ui attached vertical fluid  menu">
                <a href="" target="_blank" class="ui item">
                    <span>
                        <i class="mini teal circle icon"></i>
                          blablabla
                        <div class="ui basic teal left pointing label mini">09.03</div>
                    </span>

                    <div class="ui basic orange middle label">原创</div>

                </a>
            </div>
            <div class="ui bottom attached vertical fluid  menu">
                <a href="" target="_blank" class="ui item">
                    <span>
                        <i class="mini teal circle icon"></i>
                          blablabla
                        <div class="ui basic teal left pointing label mini">09.03</div>
                    </span>

                    <div class="ui basic orange middle label">原创</div>

                </a>
            </div>
<!--*/-->




        </div>



    </div>



    <!--页面页脚部分-->
    <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided grid stackable">
                <div class="ui three wide column">
                    <img src="../static/images/qrcode.jpg" class="ui rounded image qrcode centered" alt="">
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header  m-text-spaced ">最新博客</h4>
                    <div class="ui inverted link list m-text-thin">
                        <a href="" class="item">用户故事</a>
                        <a href="" class="item">java学习</a>
                        <a href="" class="item">研究领域</a>
                    </div>
                </div>
                <div class="four wide column">
                    <h4 class="ui inverted header  m-text-spaced ">联系我</h4>
                    <div class="ui inverted link list m-text-thin">
                        <a href="" class="item">微博</a>
                        <a href="" class="item">email:ianhuang15@outlook.com</a>
                        <a href="" class="item">QQ:540856517</a>
                    </div>
                </div>
                <div class="six wide column">
                    <h4 class="ui inverted header m-text-spaced ">主页介绍</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">这是Heinriciro的第一个个人主页，为了练习Java开发技巧，使用Semantic-UI制作而成。最终版将会分享学习过程中的笔记经验以及随想。</p>
                </div>
            </div>
            <div class="ui inverted divider section "></div>
            <p class="m-opacity m-text-thin m-text-spaced">Copyright©2020 Designed By Heinriciro</p>
        </div>


    </footer>



    <!--/*/<th:block th:replace="_fragments :: javascript">/*/-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../static/semantic/dist/semantic.min.js"></script>
    <!--/*/</th:block>/*/-->

<script>
    $('.menu.toggle').on('click',function () {
       $('.menu-item').toggleClass('m-mobile-hidden');
    });

    $('#payBtn').popup({
        popup : $('.payPopup.popup'),
        on : 'click',
        position: 'bottom center'
    });
</script>


</body>
</html>